@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inclusive+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

:root {
    --font-family: "Acme","Inclusive+Sans", swap;
}

body {
	font-size: 16px;
    font-family: var(--font-family);
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

main{

    width: 400px;
    display: flex;
    flex-direction: column;
}

picture > img{
    background: #000;
    animation: fade 15s;
}

header {
	background-color: #002b5d;
	display: grid;
    grid-template-columns: 5fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	padding: 8px;
	color: #f4f7f5;
}

header div {
    display: flex;
    flex-flow: row;
}

header div #datetime{
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
    width: 100%; 
}

.menu {
    grid-column: 1/4;
}

.logo {
    width: 4rem;
}

footer {
	background-color: #002b5d;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px; 
    font-size: 15px;
    color: white;
}

header,
nav,
main,
footer {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}
h2 {
	padding: .5rem;
	color: black;
}

p {
	padding: .5rem;
}
h1, p {
    margin: 0 2vw;
}

header div button, a {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #f4f7f5;
}

a {
    text-decoration: none;
}

header div a {
    margin: 1.5rem;
}

header .social a {
    margin: 0;
}

header div nav ul {
    list-style-type: none;
	flex: auto;
    padding: 0;
    margin: 0;
}

header div nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header div nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
	color: #f4f7f5;
    font-size: 0.9rem;
    margin: 0;
    text-align: center;
}

header div nav ul li a:hover {
    background-color: yellow;
    color: black;
}

header div nav ul {
    display: none;
}

header div nav ul.open {
    display: block;
}

main {
	justify-content: center;
	font-size: 0.85rem;
    padding: 0.5rem;
    display: grid;
}

header div {
    width: 100%;
}


.parent {
    margin: 1rem 2vw;
}

.parent section{
    border: 1px solid #415541;
    background-color: #e9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.parent span{
    background-color: #415541;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.parent p {
    padding: 10px;
}

footer {
	display: flex;
	padding: 1rem;
	justify-content:space-between;
    font-weight: 700; 
    margin-top: 1rem;
}

.title-footer h2 {
    color: white;
}



main div {
    background-color: #DEE5E5;
    margin-bottom: 10px;
    padding: 10px;
}

footer p {
    display: flex;
    flex-direction: column;
    text-align: center;
}

span {
    display: inline-block;
}

.hero {
    margin: auto;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
    height: 300px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 100%;
}

.call-to-action {
    position: absolute;
    bottom: 8px;
    right: 10px;
    padding: 12px;
    min-width: 100px;;
    width: 50%;
    box-shadow: 0 10px 30px #121335;
    border: none;
}

.card {
    width: 100%;
    margin-bottom: 10px;
  }

