@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inclusive+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
    font-family: 'Lato', sans-serif;
}

header {
	background-color: #002b5d;
	display: grid;
	grid-template-columns: 5fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	padding: 8px;
	color: #f4f7f5;
}

.logo {
	width: 10%;
	height: 20%;
}

header div {
    display: flex;
    flex-flow: row;
}

.headname h1{
	margin:0 2vw;
	font-family: 'Playfair Display', serif;
}

main{
    display: grid;
}

.call-to-action {
    bottom: 8px;
    right: 10px;
    padding: 12px;
    min-width: 100px;;
    width: 50%;
    box-shadow: 0 10px 30px #121335;
    border: none;
}

.parent {
    margin: 1rem 2vw;
	display:grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
}

.parent section{
    border: 1px solid #415541;
    background-color: #e9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
	box-shadow: 1px 1px 10px black;
}

.parent span{
    background-color: #415541;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.parent p {
    padding: 10px;
}


footer {
	display: flex;
	padding: 1rem;
	justify-content:space-between;
    font-weight: 700; 
    margin-top: 1rem;
	background-color: #002b5d;
	flex-flow: column;
	align-items: center;
    font-size: 15px;
    color: white;
}



