@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
        padding: .5rem 1rem;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

    .navigation li a {
        padding: .5rem 1rem;
    }

    #menu {
        display: none;
    }

    .navigation li a{
        color:aliceblue;
        padding: .8rem;
    }
}