@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --font-family-heading: 'Fjalla One', sans-serif;
    --font-family-body: 'Roboto', sans-serif;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Mobile Layout*/
body {
    min-height: 100vh;
    font-family: var(--font-family-body);
    display: grid;
}

/*Header*/

header {
    background-color: #af947a;
    text-align: center;
    color: #000000;
}

.topname{
    display: grid;
    grid-template-columns: 15% 1fr;
}

#profilePhoto {
    width: 130px;
    height: auto;
    border-radius: 15px;
}

header span {
    min-height: 100px;
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

#myButton {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2rem;
}

/*Nav*/
nav {
    background-color: #6D2932;
    color: #ffffff;
    justify-items: center;
}

nav .menulinks {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: var(--font-family-body);
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    color: #ffffff;
}


nav a:hover {
    background-color: #E0E1DD;
    color:#000000
}



/*Main*/
main{
    display: grid;
    justify-items: center;
}


main h1 {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: var(--font-family-heading);
}

/*.hero*/
.hero{
    position:relative;
}

.hero img{
    width: 100%;
    height: auto;
    display: block;
}

.hero span{
    position: absolute;
    bottom: 40%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    text-align: center;
}

/*.card (section)*/
.card h2 {
    text-align: center;
    background-color: #6D2932;
    color: #ffffff;
    padding: 1rem;
    border-radius: 2px;
}

.card ul {
    list-style-type: none;
    padding: 1rem;
    border: 1px solid #0D1B2A;
    border-radius: 3px;
    
}

.card li {
    padding: 0.2rem;
    font-family: var(--font-family-body);
}

.card p {
    padding: 1rem;
    border: 1px solid #0D1B2A;
}

.card:nth-of-type(2) {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

/*map*/
.map{
    
}

/*Footer*/
footer {
    background-color: #495031;
    color: #ffffff;
    padding: 1rem;
}

footer p {
    margin-top: 1rem;
}

#lastModified {
    color: #ffffff;
}